@import '~prismjs/themes/prism-tomorrow.css'

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button, input
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size 100%
  vertical-align baseline
  margin 0
  padding 0
  box-sizing border-box
  scroll-behavior smooth

a
  color inherit
  text-decoration initial

body
  margin 0
  font-family 'Gotham A', 'Gotham B', 'Gotham', sans-serif
  -webkit-font-smoothing antialiased
  color #161931

pre
  font-family monospace

:root
  --sidebar-width 280px
  --topbar-height 100px
  --color-accent #5064FB
  --sidebar-bg #f8f9fc

select
  font-size inherit
  font-family inherit

:not(pre) > code[class*='language-'], pre[class*='language-']
  background #2e3148
  border-radius 0.25rem
  font-size 0.875rem
  font-family 'Menlo', monospace