# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the 
# most precedence.

# Secondary repo maintainers, substitutes of the primary
# maintainers when they become MIA
*       @cwgoes @sunnya97

# Primary repo maintainers
*       @aaronc @alexanderbez @alessio


