# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the most precedence

# Cosmos SDK Codeowners

# Core team as default owners

* @cosmos/sdk-core-dev

# Components

/baseapp/ @cosmos/sdk-core-dev
/client/ @cosmos/sdk-core-dev
/client/v2/ @cosmos/sdk-core-dev
/collections/ @cosmos/sdk-core-dev
/core/ @cosmos/sdk-core-dev
/crypto/ @cosmos/sdk-core-dev
/depinject/ @cosmos/sdk-core-dev
/indexer/ @cosmos/sdk-core-dev
/log/ @cosmos/sdk-core-dev
/math/ @cosmos/sdk-core-dev
/orm/ @cosmos/sdk-core-dev
/runtime/ @cosmos/sdk-core-dev
/runtime/v2/ @cosmos/sdk-core-dev
/schema/ @cosmos/sdk-core-dev
/server/ @cosmos/sdk-core-dev
/server/v2/ @cosmos/sdk-core-dev
/server/v2/stf/ @cosmos/sdk-core-dev
/server/v2/appmanager/ @cosmos/sdk-core-dev
/server/v2/cometbft/ @cosmos/sdk-core-dev
/simsx @cosmos/sdk-core-dev
/simapp/ @cosmos/sdk-core-dev
/simapp/v2/ @cosmos/sdk-core-dev
/store/ @cosmos/sdk-core-dev
/store/v2/ @cosmos/sdk-core-dev
/types/mempool/ @cosmos/sdk-core-dev
/tools/cosmovisor @cosmos/sdk-core-dev
/tools/confix @cosmos/sdk-core-dev
/tests/integration/aminojson @cosmos/sdk-core-dev

# x modules

/x/accounts/ @cosmos/sdk-core-dev
/x/auth/ @cosmos/sdk-core-dev
/x/auth/tx/config @cosmos/sdk-core-dev
/x/authz/ @cosmos/sdk-core-dev
/x/bank/ @cosmos/sdk-core-dev
/x/bank/v2 @cosmos/sdk-core-dev
/x/circuit/ @cosmos/sdk-core-dev
/x/consensus/ @cosmos/sdk-core-dev
/x/distribution/ @cosmos/sdk-core-dev
/x/epochs/ @cosmos/sdk-core-dev
/x/evidence/ @cosmos/sdk-core-dev
/x/feegrant/ @cosmos/sdk-core-dev
/x/genutil/ @cosmos/sdk-core-dev
/x/gov/ @cosmos/sdk-core-dev
/x/group/ @cosmos/sdk-core-dev
/x/mint/ @cosmos/sdk-core-dev
/x/nft/ @cosmos/sdk-core-dev
/x/protocolpool/ @cosmos/sdk-core-dev
/x/simulation/ @cosmos/sdk-core-dev # deprecated so whole team
/x/slashing/ @cosmos/sdk-core-dev
/x/staking/ @cosmos/sdk-core-dev
/x/tx/ @cosmos/sdk-core-dev
/x/upgrade/ @cosmos/sdk-core-dev
/x/validate @cosmos/sdk-core-dev

# go mods

**/go.mod @cosmos/sdk-core-dev
**/go.sum @cosmos/sdk-core-dev

# ci & build

.github/ @cosmos/sdk-core-dev
scripts/ @cosmos/sdk-core-dev
contrib/ @cosmos/sdk-core-dev
*.mk @cosmos/sdk-core-dev
Makefile @cosmos/sdk-core-dev

# docs configuration

/docs/ @cosmos/sdk-core-dev
/docs/docusaurus.config.js @cosmos/sdk-core-dev
/docs/sidebars.js @cosmos/sdk-core-dev
/docs/pre.sh @cosmos/sdk-core-dev
/docs/post.sh @cosmos/sdk-core-dev
