# CODEOWNERS: https://help.github.com/articles/about-codeowners/

# NOTE: Order is important; the last matching pattern takes the most precedence

# Cosmos SDK Codeowners

# Core team as default owners

* @cosmos/sdk-core-dev

# Components

# docs configuration

/docs/ @cosmos/sdk-core-dev
