# Please see the documentation for all configuration options:
# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: "/docs"
    schedule:
      interval: weekly
    # DevRel should review docs updates
    assignees:
      - "julienrbrt"

  - package-ecosystem: gomod
    directory: "/"
    schedule:
      interval: daily
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/simapp"
    schedule:
      interval: daily
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/tests"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/api"
    schedule:
      interval: weekly
      day: tuesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/orm"
    schedule:
      interval: weekly
      day: wednesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/core"
    schedule:
      interval: weekly
      day: thursday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/depinject"
    schedule:
      interval: weekly
      day: friday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/errors"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/math"
    schedule:
      interval: weekly
      day: tuesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/client/v2"
    schedule:
      interval: weekly
      day: wednesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/x/tx"
    schedule:
      interval: weekly
      day: thursday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/tools/cosmovisor"
    schedule:
      interval: weekly
      day: friday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/tools/rosetta"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/tools/confix"
    schedule:
      interval: weekly
      day: tuesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/tools/hubl"
    schedule:
      interval: weekly
      day: thursday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/collections"
    schedule:
      interval: weekly
      day: friday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/x/nft"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/x/circuit"
    schedule:
      interval: weekly
      day: tuesday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "x/feegrant"
    schedule:
      interval: weekly
      day: wednesday
    labels:
      - "A:automerge"
      - dependencies

  - package-ecosystem: gomod
    directory: "/x/evidence"
    schedule:
      interval: weekly
      day: thursday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "/store"
    schedule:
      interval: weekly
      day: friday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "x/upgrade"
    schedule:
      interval: weekly
      day: monday
    labels:
      - "A:automerge"
      - dependencies
  - package-ecosystem: gomod
    directory: "log"
    schedule:
      interval: weekly
      day: tuesday
    labels:
      - "A:automerge"
      - dependencies

  # Dependencies should be up to date on release branch
  - package-ecosystem: gomod
    directory: "/"
    target-branch: "release/v0.47.x"
    schedule:
      interval: daily
    labels:
      - "A:automerge"
      - dependencies
      - "testing-required"
    allow:
      - dependency-name: "github.com/cosmos/cosmos-sdk/*"
        dependency-type: "all"
      - dependency-name: "github.com/cosmos/*"
        dependency-type: "all"
      - dependency-name: "cosmossdk.io/*"
        dependency-type: "all"
