# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
*.pyc

# private files
private[.-]*
private

# Build
vendor
/build
dist
tools-stamp
buf-stamp
artifacts
simapp/simd/simd

# Go
go.work
go.work.sum

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
.testnets

# Testing
coverage.out
coverage.txt
*profile.out
sim_log_file
x/genutil/config
x/genutil/data
*.fail

# Vagrant
.vagrant/
*.box
*.log
vagrant

# IDE
.idea
*.iml
*.ipr
*.iws
.dir-locals.el
.vscode

# Depinject & Graphviz
dependency-graph.png
debug_container.dot
debug_container.log

# Latex
*.aux
*.out
*.synctex.gz
/x/genutil/config/priv_validator_key.json
/x/genutil/data/priv_validator_state.json
