# OS
.DS_Store
*.swp
*.swo
.vscode

# Build
vendor
build
tools/bin/*
examples/build/*
docs/_build

# Data - ideally these don't exist
examples/basecoin/app/data
baseapp/data/*
client/lcd/keys/*

# Testing
coverage.txt
profile.out

# Vagrant
.vagrant/
*.box
*.log
vagrant

# Graphviz
dependency-graph.png
