go 1.19

use (
	.
	./api
	./client/v2
	./collections
	./core
	./depinject
	./errors
	./math
	./orm
	./simapp
	./tests
	./tools/rosetta
	./tools/cosmovisor
	./tools/confix
	./tools/hubl
	./x/tx
	./x/nft
	./x/circuit
	./x/evidence
)
