[[constraint]]
  name = "github.com/bgentry/speakeasy"
  version = "~0.1.0"

[[override]]
  name = "github.com/golang/protobuf"
  version = "=1.1.0"

[[constraint]]
  name = "github.com/mattn/go-isatty"
  version = "~0.0.3"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "~0.0.1"

[[constraint]]
  name = "github.com/spf13/viper"
  version = "~1.0.0"

[[constraint]]
  name = "github.com/pkg/errors"
  version = "=0.8.0"

[[constraint]]
  name = "github.com/stretchr/testify"
  version = "=1.2.1"

[[constraint]]
  name = "github.com/otiai10/copy"
  revision = "7e9a647135a142c2669943d4a4d29be015ce9392"

[[override]]
  name = "github.com/tendermint/go-amino"
  version = "v0.14.1"

[[override]]
  name = "github.com/tendermint/iavl"
  version = "v0.12.0"

[[override]]
  name = "github.com/tendermint/tendermint"
  revision = "v0.30.0"

[[constraint]]
  name = "github.com/zondax/ledger-cosmos-go"
  version = "=v0.9.7"

## deps without releases:

[[constraint]]
  name = "github.com/btcsuite/btcd"
  revision = "ed77733ec07dfc8a513741138419b8d9d3de9d2d"

[[override]]
  name = "golang.org/x/crypto"
  source = "https://github.com/tendermint/crypto"
  revision = "3764759f34a542a3aef74d6b02e35be7ab893bba"

[[constraint]]
  name = "github.com/cosmos/go-bip39"
  revision = "52158e4697b87de16ed390e1bdaf813e581008fa"

## transitive deps, with releases:

[[override]]
  name = "github.com/davecgh/go-spew"
  version = "=v1.1.0"

[[constraint]]
  name = "github.com/rakyll/statik"
  version = "=v0.1.4"

## transitive deps, without releases:

[[override]]
  name = "github.com/syndtr/goleveldb"
  revision = "c4c61651e9e37fa117f53c5a906d3b63090d8445"

[[override]]
  name = "golang.org/x/sys"
  revision = "4e1fef5609515ec7a2cee7b5de30ba6d9b438cbf"

[[override]]
  name = "google.golang.org/genproto"
  revision = "383e8b2c3b9e36c4076b235b32537292176bae20"

[prune]
  go-tests = true
  unused-packages = true
  [[prune.project]]
      name = "github.com/zondax/hid"
      unused-packages = false
