/*
  Copied from https://github.com/ignite/cli/blob/develop/docs/src/css/base.css
*/

@layer base {
    html {
        @apply font-inter;
        font-feature-settings: 'kern', 'liga', 'calt', 'zero' 0;
        -webkit-font-feature-settings: 'kern', 'liga', 'calt', 'zero' 0;
        text-size-adjust: 100%;
        -moz-osx-font-smoothing: grayscale;
        font-smoothing: antialiased;
        font-variant-ligatures: contextual common-ligatures;
        font-kerning: normal;
        text-rendering: optimizeLegibility;

        @supports (font-variation-settings: normal) {
            @apply font-intervar
        }
    }
    
    *, 
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }

    svg { display: inline; }
    
    ::selection{}    
}