64_traces_tlc_5_steps.json

### TLA+ ###
# Reference: https://github.com/jameshfisher/tlaplus/blob/master/.gitignore

# TLA+ Toolbox
# Exclude all files related to TLA+ Toolbox
# *.toolbox/**

*.toolbox/*.launch
*.toolbox/*.pmap

# TLA+ Toolbox models
*.toolbox/**/*.tla
*.toolbox/**/*.out
*.toolbox/**/*.cfg

# PlusCal
*.old

# LaTex output
*.toolbox/*aux
*.toolbox/*.log
*.toolbox/*.pdf
*.toolbox/*.tex
*aux
*.log
*.pdf
*.tex

states/
*_TTrace_*

# Vim backup file
*~

### Apalache ###
_apalache-out/