name: Build SimApp
on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
      - release/**
permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}-build
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-arch: ["amd64", "arm", "arm64"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true
      - name: Get rocksdb version
        run: ./.github/scripts/get-rocksdb-version.sh
      - name: Fix permissions for cache
        run: sudo chown $(whoami) /usr/local/lib /usr/local/include
      - name: Restore rocksdb libraries cache
        id: cache-rocksdb
        if: matrix.go-arch == 'amd64'
        uses: actions/cache/restore@v4
        with:
          path: |
            /usr/local/lib/librocksdb.*
            /usr/local/include/rocksdb
          key: ${{ runner.os }}-rocksdb-${{ env.ROCKSDB_VERSION }}-${{ matrix.go-arch }}
      - name: Install rocksdb deps
        if: matrix.go-arch == 'amd64'
        run: ./.github/scripts/install-rocksdb-deps.sh
      - name: Install rocksdb
        if: matrix.go-arch == 'amd64' && steps.cache-rocksdb.outputs.cache-hit != 'true'
        run: ./.github/scripts/install-rocksdb.sh
        ###################
        #### Build App ####
        ###################
      - name: Build
        run: GOARCH=${{ matrix.go-arch }} make build
      - name: Build Legacy
        run: GOARCH=${{ matrix.go-arch }} COSMOS_BUILD_OPTIONS=legacy make build
      - name: Build with rocksdb backend
        if: matrix.go-arch == 'amd64'
        run: GOARCH=${{ matrix.go-arch }} COSMOS_BUILD_OPTIONS="rocksdb" make build
        ###################
        ## Build Tooling ##
        ###################
      - name: Build Cosmovisor
        run: GOARCH=${{ matrix.go-arch }} make cosmovisor
      - name: Build Confix
        run: GOARCH=${{ matrix.go-arch }} make confix
      - name: Build Hubl
        run: GOARCH=${{ matrix.go-arch }} make hubl
