name: Dependabot Update All Go Modules
on: pull_request

permissions:
  pull-requests: write

env:
  PR_TITLE: ${{ github.event.pull_request.title }}

jobs:
  update-all:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
          # Secret to be added in the repo under Settings > Secrets > Dependabot
          token: ${{ secrets.PRBOT_PAT }}
      - uses: actions/setup-go@v5
        with:
          go-version: "1.23"
          check-latest: true
      - name: Extract updated dependency
        id: deps
        run: |
          # Extract the dependency name from the PR title
          # Example: "build(deps): Bump github.com/cosmos/cosmos-sdk from 0.46.0 to 0.47.0"
          # Extracts "github.com/cosmos/cosmos-sdk" and "0.47.0"
          echo "name=$(echo "$PR_TITLE" | cut -d ' ' -f 3)" >> $GITHUB_OUTPUT
          echo "version=$(echo "$PR_TITLE" | cut -d ' ' -f 7)" >> $GITHUB_OUTPUT
      - name: Update all Go modules
        run: |
          ./scripts/go-update-dep-all.sh ${{ format('{0}@v{1}', steps.deps.outputs.name, steps.deps.outputs.version) }}
          ./scripts/go-mod-tidy-all.sh
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "${{ github.event.pull_request.title }} for all modules"
