name: Add Sprint issues to Cosmos SDK Project 

on:
  issues:
    types:
      - opened
      - labeled

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v1.0.0
        with:
          project-url: https://github.com/orgs/cosmos/projects/26
# add all issues opened to the issue board for triage and assignment
          github-token: ${{ secrets.PERSONAL_TOKEN }}
