name: Lint
# Lint runs golangci-lint over the entire cosmos-sdk repository
# This workflow is run on every pull request and push to main
# The `golangci` will pass without running if no *.{go, mod, sum} files have been changed.
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18
      - uses: technote-space/get-diff-action@v6.0.1
        id: git_diff
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
      # - name: Get data from Go build cache
      #   uses: actions/cache@v3
      #   with:
      #     path: |
      #         ~/go/pkg/mod
      #         ~/.cache/golangci-lint
      #         ~/.cache/go-build
      #         ~/Library/Caches/go-build
      #         ~\AppData\Local\go-build
      #     key: ${{ runner.os }}-go-linter-${{ matrix.go-version }}-${{ hashFiles('**/go.sum') }}
      #     restore-keys: |
      #         ${{ runner.os }}-go-linter-${{ matrix.go-version }}-
        # if: env.GIT_DIFF
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
        # if: env.GIT_DIFF
