name: Lint
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
  merge_group:
permissions:
  contents: read
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: actions/setup-go@v5
        with:
          go-version: "1.21"
          check-latest: true
      - uses: technote-space/get-diff-action@v6.1.2
        id: git_diff
        with:
          PATTERNS: |
            Makefile
            **/Makefile
            .golangci.yml
      - name: run linting (long)
        if: env.GIT_DIFF
        id: lint_long
        run: |
          nix develop -c make lint
        env:
          NIX: 1
      - uses: technote-space/get-diff-action@v6.1.2
        if: steps.lint_long.outcome == 'skipped'
        with:
          PATTERNS: |
            **/*.go
            *.go
      - name: run linting (short)
        if: steps.lint_long.outcome == 'skipped' && env.GIT_DIFF
        run: |
          nix develop -c make lint
        env:
          GIT_DIFF: ${{ env.GIT_DIFF }}
          LINT_DIFF: 1
          NIX: 1
