name: Build & Push SDK Proto Builder
on:
  push:
    branches:
      - main
    paths:
      - "contrib/devtools/dockerfile"

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # set VERSION to new version when making changes, when merged to main the image will automatically be pushed
      - uses: actions/checkout@v3
      - name: Prepare
        id: prep
        run: |
          DOCKER_IMAGE=tendermintdev/sdk-proto-gen
          VERSION=latest
          TAGS="${DOCKER_IMAGE}:${VERSION}"
          echo ::set-output name=tags::${TAGS}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@master
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUBTM_USERNAME }}
          password: ${{ secrets.DOCKERHUBTM_TOKEN }}

      - name: Publish to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./contrib/devtools
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.prep.outputs.tags }}
