name: Protobuf
# Protobuf runs buf (https://buf.build/) lint and check-breakage
# This workflow is only run when a .proto file has been changed
on:
  pull_request:
    paths:
      - "**.proto"
jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@master
      - name: lint
        run: make proto-lint
  breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: check-breakage
        run: make proto-check-breaking
