name: Protobuf
on: 
  pull_request:
    paths: 
      - '**.proto'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: lint
        run: make proto-lint-docker
  breakage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: check-breakage
        run: make proto-check-breaking-docker
